@model ConfigModel
@{
    ViewData["Title"] = "Settings";
    var ErrMsg = (string)ViewBag.ErrorMessage;
    if (Model == null)
    {
        try
        {
            ConfigModel.Load();
            ErrMsg = "Configuration is null";

        }
        catch (Exception ex)
        {
            ErrMsg = ex.Message;
        }
    }
    var LockMsg = Startup.Locked ? "Locked. Streaming functionality unavailable" : "Unlocked. Streaming functionality available";
}
<h1>Settings</h1>
<form method="post" asp-action="ChangeLock">
    <div class="form-group alert alert-@(Startup.Locked?"danger":"success")">
        <p>Application status: <b>@LockMsg</b>.</p>
        <input type="submit" class="btn btn-@(Startup.Locked?"success":"danger")"
               value="@(Startup.Locked?"Unlock":"Lock") now" disabled="@(Model==null)" />
        @if (Model == null)
        {
            <b>You cannot change operation mode until the configuration issue is resolved</b>
        }
    </div>
</form>

@if (Model != null)
{
    if (!Model.IsValid() || !string.IsNullOrEmpty(ErrMsg))
    {
        <div class="alert alert-danger">
            <p>Before you can properly use this application you need to fix the errors listed below</p>
            <ul>
                @if (!string.IsNullOrEmpty(ErrMsg))
                {
                    <li>@ErrMsg</li>
                }
                @foreach (var Err in Model.GetValidationMessages())
                {
                    <li>@Err</li>
                }
            </ul>
        </div>
    }
    else
    {
        <div class="alert alert-info">Configuration is valid</div>
    }
}
else
{
    <div class="alert alert-danger">
        Your configuration is damaged.<br />
        Error: <code>@ErrMsg</code>
    </div>
}
<form asp-action="Config" method="post">
    <h2>Conversion tools</h2>
    <div class="row">
        <div class="col-md-6 form-group">
            <label>
                FFmpeg path
            </label>
            <input type="text" asp-for="FfmpegPath" class="form-control" />
            <a href="https://ffmpeg.org/download.html" target="_blank" rel="noreferrer nofollow noopener">Download</a>
        </div>
        <div class="col-md-6 form-group">
            <label>
                Youtube-dl path
            </label>
            <input type="text" asp-for="YoutubedlPath" class="form-control" />
            <a href="https://youtube-dl.org/" target="_blank" rel="noreferrer nofollow noopener">Download</a>
        </div>
    </div>
    <h2>Cache</h2>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>
                <input type="checkbox" asp-for="UseCache" value="True" />
                Use cache
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label>
                Cache path
            </label>
            <input type="text" asp-for="CachePath" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>
                Max cache time for MP3 files
            </label>
            <input type="number" min="0" asp-for="CacheMp3Lifetime" class="form-control" />
            <i>Zero indicates to cache forever</i>
        </div>
    </div>
    <h2>SponsorBlock</h2>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>
                <input type="checkbox" asp-for="UseSponsorBlock" value="True" />
                Use SponsorBlock
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>
                SponsorBlock server
            </label>
            <input type="text" asp-for="SponsorBlockServer" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>
                Max cache time for SponsorBlock files
            </label>
            <input type="number" min="0" asp-for="CacheSBlockLifetime" class="form-control" />
            <i>Zero indicates to cache forever</i>
        </div>
    </div>
    <h2>Streaming options</h2>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>
                <input type="checkbox" asp-for="RequireAccount" value="True" />
                Require account to stream
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>
                Maximum number of streaming keys per user
            </label>
            <input type="number" min="0" asp-for="MaxKeysPerUser" class="form-control" />
            <i>Zero indicates to not impose a limit</i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <input type="submit" value="Send" class="btn btn-primary" />
        </div>
    </div>
</form>
@section Scripts
{
    <script src="~/js/config.view.js" asp-append-version="true" defer></script>
}