@{
    var Settings = (ConfigModel)ViewBag.Settings;
    var Acc = (AccountInfo)ViewBag.User;
    var Msg = (string)ViewBag.CookieMessage;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YtStream</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">YtStream</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Info">How to use</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && Acc.Roles.HasFlag(UserRoles.Administrator))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Manage" asp-action="Index">Settings</a>
                            </li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Index">@User.Identity.Name</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" method="post" asp-controller="Account" asp-action="Logout">
                            <input type="submit" class="btn btn-link" value="Logout" />
                        </form>
                    }
                    else
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            @if(Settings.PublicRegistration)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (!string.IsNullOrEmpty(Msg))
            {
                <div class="alert alert-success">@Msg</div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            YtStream &copy; 2022 - <a href="https://github.com/AyrA/YtStream" target="_blank" rel="noreferrer nofollow noopener">Kevin Gut</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" defer></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
