@using YtStream.Services.Accounts;
@model AccountInfoModel[]
@{
    ViewData["Title"] = "Manage accounts";
}
<h1>Manage accounts</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Enabled</th>
            <th>Access</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var Acc in Model)
        {
            var Enabled = Acc.Enabled ? "Yes" : "No";
            var ChgLink = Acc.Enabled ? "AccountDisable" : "AccountEnable";
            <tr>
                <td>@Acc.Username</td>
                <td>
                    <form asp-action="@ChgLink" method="post" class="form-inline">
                        @Enabled
                        <input type="hidden" name="Username" value="@Acc.Username" />
                        <input type="submit" class="link" title="Click to change" value="Change" />
                    </form>
                </td>
                <td>@string.Join(", ",Acc.GetRoleStrings())</td>
                <td>
                    <a asp-action="AccountEdit" asp-route-id="@Acc.Username" class="btn btn-warning">Edit</a>
                    <a asp-action="AccountDelete" asp-route-id="@Acc.Username" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Create account</h2>
<form asp-action="AccountAdd" method="post">
    <div class="row">
        <div class="form-group col-md-4">
            <label>User Name</label>
            <input type="text" class="form-control" id="userName" name="userName"
                   rerquired placeholder="Enter user name" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label>Password</label>
            <input type="password" class="form-control password-check" name="password" id="password"
                   minlength="@UserManagerService.PasswordMinLength"
                   required placeholder="Password" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label>Password</label>
            <input type="password" class="form-control password-match" name="passwordRepeat" id="passwordRepeat"
                   minlength="@UserManagerService.PasswordMinLength"
                   required placeholder="Password" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            @await Html.PartialAsync("_PasswordInfo")
        </div>
    </div>
    <div class="row">
        <div class="form-check col-md-4">
            <input type="submit" class="btn btn-primary password-validate" value="Register" />
        </div>
    </div>
</form>