@model AccountInfo
@{
    ViewData["Title"] = "Account information";
    var err = (string)ViewBag.ErrMsg;
    var Settings = (ConfigModel)ViewBag.Settings;
}
<h1>Account information</h1>
<p>
    User name: @Model.Username
</p>
<p>
    Permissions: @string.Join(", ", Model.GetRoleStrings())
</p>
<p>
    Streaming keys: @Model.ApiKeys.Length [<a asp-action="ManageKeys">Manage</a>]
</p>
<h2>Password change</h2>
@if (err != null)
{
    <div class="alert alert-danger">@err</div>
}
<form asp-action="ChangePassword" method="post">
    <div class="row form-group">
        <div class="col-md-4">
            <label>Existing password</label>
            <input type="password" name="OldPassword" required class="form-control" placeholder="Old password" />
        </div>
        <div class="col-md-4">
            <label>New password</label>
            <input type="password" name="NewPassword" required class="form-control password-check"
                   minlength="@UserManager.PasswordMinLength" placeholder="New password" />
        </div>
        <div class="col-md-4">
            <label>New password</label>
            <input type="password" name="ConfirmPassword" required class="form-control password-match"
                   minlength="@UserManager.PasswordMinLength" placeholder="New password" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            @await Html.PartialAsync("_PasswordInfo")
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary password-validate" value="Change" />
        </div>
    </div>
</form>